trigger:
- main

pool:
  name: Default

variables:
  - group: docker-hub-login

  - name: BUILD_DATE
    value: $[format('{0:dd-MM-yyyy}', pipeline.startTime)]

  - name: IMAGE_TAG
    value: $(Build.BuildId)-$(BUILD_DATE)

stages:
- stage: DockerLogin
  displayName: Docker Login
  jobs:
  - job: DockerLogin
    steps:
    - script: |
        echo "$(DOCKER_PASSWORD)" | docker login -u "$(DOCKER_USERNAME)" --password-stdin
      displayName: 'Docker Login'


- stage: BuildPush
  displayName: Build and Push Docker Image
  dependsOn: DockerLogin
  jobs:
  - job: DockerBuildPush
    steps:
    - script: |
        echo "Building Docker image..."
        docker build -t "$(IMAGE_NAME):$(IMAGE_TAG)" .
        echo "Pushing Docker image..."
        docker push "$(IMAGE_NAME):$(IMAGE_TAG)"
      displayName: 'Image Bush'

