trigger:
- main

pool:
  name: Default

variables:
  - group: docker-hub-login
  - group: github_token
  - name: IMAGE_NAME
    value: krishnamoorthy1/nginx-ci

stages:
# -------------------- DOCKER LOGIN --------------------
- stage: DockerLogin
  displayName: Docker Login
  jobs:
  - job: DockerLogin
    steps:
    - script: |
        echo "$(DOCKER_PASSWORD)" | docker login -u "$(DOCKER_USERNAME)" --password-stdin
      displayName: 'Docker Login'

# -------------------- BUILD & PUSH --------------------
- stage: BuildPush
  dependsOn: DockerLogin
  jobs:
  - job: DockerBuildPush
    steps:
    - script: |
        BUILD_DATE=$(date +'%d-%m-%Y')
        TAG="$(Build.BuildId)-$BUILD_DATE"

        echo "Using Docker tag: $TAG"

        docker build -t "$(IMAGE_NAME):$TAG" .
        docker push "$(IMAGE_NAME):$TAG"

        echo "##vso[task.setvariable variable=IMAGE_TAG;isOutput=true]$TAG"
      name: SetTag     # REQUIRED
      displayName: 'Build & Push'

    outputs:           # REQUIRED
      tagOutput.IMAGE_TAG: $[ steps.SetTag.outputs['IMAGE_TAG'] ]


# -------------------- UPDATE ARGOCD REPO --------------------
- stage: BuildPush
  dependsOn: DockerLogin
  jobs:
  - job: DockerBuildPush

    steps:
    - script: |
        BUILD_DATE=$(date +'%d-%m-%Y')
        TAG="$(Build.BuildId)-$BUILD_DATE"

        echo "Using Docker tag: $TAG"

        docker build -t "$(IMAGE_NAME):$TAG" .
        docker push "$(IMAGE_NAME):$TAG"

        echo "##vso[task.setvariable variable=IMAGE_TAG;isOutput=true]$TAG"
      name: SetTag          # REQUIRED
      displayName: 'Build & Push'

    outputs:                # MUST be at job level, not inside steps
      tagOutput.IMAGE_TAG: $[ steps.SetTag.outputs['IMAGE_TAG'] ]