trigger:
- main

pool:
  name: Default

variables:
  - group: docker-hub-login

stages:
- stage: DockerLogin
  displayName: Docker Login
  jobs:
  - job: DockerLogin
    steps:
    - script: |
        echo "$(DOCKER_PASSWORD)" | docker login -u "$(DOCKER_USERNAME)" --password-stdin
      displayName: 'Docker Login'

- stage: BuildPush
  displayName: Build and Push Docker Image
  dependsOn: DockerLogin
  jobs:
  - job: DockerBuildPush
    steps:
    - script: |
        BUILD_DATE=$(date +'%d-%m-%Y')
        TAG="$(Build.BuildId)-$BUILD_DATE"

        echo "Using Docker tag: $TAG"

        echo "Building Docker image..."
        docker build -t "$(IMAGE_NAME):$TAG" .

        echo "Pushing Docker image..."
        docker push "$(IMAGE_NAME):$TAG"
      displayName: 'Image Pushed'
