trigger:
- main

pool:
  name: Default

variables:
  - group: docker-hub-login
  - group: github_token
  - name: IMAGE_NAME
    value: krishnamoorthy1/nginx-ci

stages:
# -------------------- DOCKER LOGIN --------------------
- stage: DockerLogin
  jobs:
  - job: DockerLogin
    steps:
    - script: |
        echo "$(DOCKER_PASSWORD)" | docker login -u "$(DOCKER_USERNAME)" --password-stdin
      displayName: 'Docker Login'


# -------------------- BUILD & PUSH --------------------
- stage: BuildPush
  dependsOn: DockerLogin
  jobs:
  - job: DockerBuildPush

    steps:
    - script: |
        BUILD_DATE=$(date +'%d-%m-%Y')
        TAG="$(Build.BuildId)-$BUILD_DATE"

        echo "Using Docker tag: $TAG"

        docker build -t "$(IMAGE_NAME):$TAG" .
        docker push "$(IMAGE_NAME):$TAG"

        echo "##vso[task.setvariable variable=IMAGE_TAG;isOutput=true]$TAG"
      name: SetTag
      displayName: 'Build & Push'




# -------------------- UPDATE ARGOCD REPO --------------------
- stage: CodePush
  dependsOn: BuildPush

  variables:
    IMAGE_TAG: $[ stageDependencies.BuildPush.DockerBuildPush.outputs['SetTag.IMAGE_TAG'] ]

  jobs:
  - job: PushToArgoCD
    steps:
    - checkout: self

    - script: |
        echo "Using IMAGE_TAG = $(IMAGE_TAG)"

        echo "Cloning ArgoCD Repo..."
        git clone https://$GITHUB_TOKEN@github.com/amuthakrishna/nginx-cd.git nginx-cd

        echo "Updating Deployment YAML..."
        sed -i "s|image: .*|image: $(IMAGE_NAME):$(IMAGE_TAG)|" nginx-cd/k8s/app-deployment.yaml

        cd nginx-cd

        git config --local user.email "amuthakrishna1988@gmail.com"
        git config --local user.name "amuthakrishna"

        git add .
        git commit -m "Update image to: $(IMAGE_NAME):$(IMAGE_TAG)"
        git push
      displayName: "Commit Updated YAML"