trigger:
- main

pool:
  name: Default

variables:
  - group: docker-hub-login
  - group: github_token

stages:
- stage: DockerLogin
  displayName: Docker Login
  jobs:
  - job: DockerLogin
    steps:
    - script: |
        echo "$(DOCKER_PASSWORD)" | docker login -u "$(DOCKER_USERNAME)" --password-stdin
      displayName: 'Docker Login'

- stage: BuildPush
  dependsOn: DockerLogin
  jobs:
  - job: DockerBuildPush
    steps:
    - script: |
        BUILD_DATE=$(date +'%d-%m-%Y')
        TAG="$(Build.BuildId)-$BUILD_DATE"

        echo "Using Docker tag: $TAG"

        docker build -t "$(IMAGE_NAME):$TAG" .
        docker push "$(IMAGE_NAME):$TAG"

        echo "##vso[task.setvariable variable=IMAGE_TAG;isOutput=true]$TAG"
      displayName: 'Build & Push'

 

- stage: CodePush
  dependsOn: BuildPush
  jobs:
  - job: PushToArgoCD
    steps:
    - checkout: self

    - script: |
        echo "Cloning ArgoCD Repo..."
        git clone https://$GITHUB_TOKEN@github.com/amuthakrishna/argocd.git argocd

        echo "Updating Deployment YAML..."
        sed -i "s|image: .*|image: $(IMAGE_NAME):$(IMAGE_TAG)|" argocd/k8s/app-deployment.yaml

        cd argocd

        git config --local user.email "amuthakrishna1988@gmail.com"
        git config --local user.name "amuthakrishna"

        git add .
        git commit -m "Update image to: $(IMAGE_NAME):$(IMAGE_TAG)"
        git push
      displayName: 'Commit Updated YAML'